body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: rgb(221, 217, 213);
  background-image: url('../pexels-tbee-82256.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  
}
.responsive{
  width: 100%;
  height: auto;
}
.row{
  padding-top: 10px;
  background-color:rgb(150, 135, 116)
}
.cardfooter{
  position: relative;
  margin-left: 0%;

}
.color-me{
  color: black;
}
/*Body Styling*/

header {
  text-align: center;
  background-color: rgb(188, 180, 171);
  
}
/*Header Styling*/

#images{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 5px solid;color: black;
}
/*Image Styling*/

footer {
  text-align: center;
  background-color: rgb(188, 180, 171);
  padding: 3px;
  
}
 /*Footer Styling*/

.main{
  display: flex;
  flex-direction: row;
  overflow:unset
  


  
  }
  /*Menu Bar*/
#navbar{
  margin-top: -2%;
  margin-left: 0%; 
  width: 20%;
  padding: 2rem;
  background-color: rgb(92, 90, 88);
  
}
 /*Icon Styling*/
.icons{
  width: 100px;
  margin: 2rem;
  height: auto;
  position: relative;
  padding: auto;
}
.logo {
  display:inline-block;
  width: 300px;
  height: 300px;
  padding-bottom: 20px;
  
}
/*Paragraph Styling*/
p{
  margin-block: 2rem;
  padding-left: 2rem;
  
}
/*Heading Styling*/
h2{
  box-sizing: border-box;
  padding-left: 2rem;
  border-style: solid;
  text-align: left;
}
/*Heading Styling*/
h3{
  padding-left: 2rem;
  text-decoration-line: underline;
  
}
/*Heading Styling*/
h4{
  padding-left:  2rem;
  text-decoration-line: underline;
}
contents{
  margin-left: 3rem;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

aside {
  width: 100%;
  margin-left: 10px;
  margin-right: 2px;
  float: left;
  font-style: 'Times New Roman', Times, serif;
  background-color: lightgray;
}

/*image animation*/
.color img{
  filter: grayscale(100%);  
  transition: all 1s ease;
  }
  
  .color img:hover{
  filter: grayscale(0%);
  filter: gray; 
  filter: none;
  transition: 1s ease;
  }
 
  /*icon animation*/
.logo:first-child:hover {
    rotate: 45deg;

 }
.logo:nth-child(2):hover{
  rotate: 45deg;
}
.logo:nth-child(3):hover{
  rotate: 45deg;
}
.card{
  padding-left: 20px;
}
