body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: rgb(221, 217, 213);
  
}
/*Body Styling*/

header {
  text-align: center;
  background-color: rgb(188, 180, 171);
  
}
/*Header Styling*/

#images{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 5px solid;color: black;
}
/*Image Styling*/

footer {
  text-align: center;
  background-color: rgb(188, 180, 171);
  padding: 3px;
  
}
 /*Footer Styling*/

.main{
  display: flex;
  flex-direction: row;
  overflow:unset
  


  
  }
  /*Menu Bar*/
#navbar{
  margin-top: -2%;
  margin-left: 0%; 
  width: 20%;
  padding: 2rem;
  background-color: rgb(92, 90, 88);
  
}
 /*Icon Styling*/
.icons{
  width: 6%;
  margin: 2rem;
  height: auto
}
/*Paragraph Styling*/
p{
  margin-block: 2rem;
  padding-left: 2rem;
  
}
/*Heading Styling*/
h2{
  box-sizing: border-box;
  padding-left: 2rem;
  border-style: solid;
}
/*Heading Styling*/
h3{
  padding-left: 2rem;
  text-decoration-line: underline;
  
}
/*Heading Styling*/
h4{
  padding-left:  2rem;
  text-decoration-line: underline;
}
contents{
  margin-left: 3rem;

}
